main .carousel {
  /* position: relative; */

  /* width: 100%; */
  /* max-height: 700px; */
  /* padding-bottom: 20px; */
  /* max-width: 1000px; */
  /* margin: 0 auto; */
  /* overflow: hidden; */

  /* border: 2px solid red; */
}

main .carousel > div:not([class]) {
  display: none;
  visibility: hidden;
}

main .carousel-wrapper .carousel-wrapper {
  position: relative; /* relative for carousel-controls positioning */

  /* height: 100%; */
  /* width: 100%; */
  /* margin: 0 auto; */
  /* white-space: nowrap; */
  /* user-select: none; */

  /* border: 2px solid orange; */
}

main .carousel-slides {
  /* position: relative; */
  overflow: hidden;

  /* width: 100%; */
  /* height: 100%; */
  /* width: 919px; */
  /* margin: 0 auto; */

  /* border: 2px solid gold; */
}

main .carousel-slide,
main .carousel-slides > div {
  /* top: 0; */
  /* bottom: 0; */
  /* background-color: #ffffff; */
  /* width: 800px; */

  /* border: 2px solid seagreen; */
}

main .carousel-wrapper,
main .carousel-slide ,
main .carousel-slides,
main .carousel-slides > div {
  width: 100%;
  height: 100%;
  min-height: 33vh;

  /* border: 2px solid cornflowerblue; */
}

main .carousel-slides > div {
  position: relative;

  /* height: 100%; */
  /* width: 100%; */
  /* display: flex; */
  /* margin: 0 auto; */
  /* padding-bottom: 50%; */

  /* border: 2px solid purple; */
}

main .carousel-slide {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 200%;
  transition-property: left, opacity;
  transition-duration: .2s;
  background-color: var(--background-color);

  /* padding: 10px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */

  /* border: 2px solid fuchsia; */
}

main .carousel-slide img,
main .carousel-slide picture {
  width: 100%;
  height: 100%;
  line-height: 0;
  object-fit: cover;
}

main .carousel-slide img,
main .carousel-slide .slide-card-icon {
  transition: border-radius .2s;
}

main .carousel-slide img:hover,
main .carousel-slide .slide-card-icon:hover {
  border-radius: 8px !important;
}

main .carousel-slide.slide-active {
  opacity: 1;
  left: 0;
  z-index: 2;
}

main .carousel-slide.slide-prev {
  opacity: 1;
  left: -100%;
  z-index: 1;
}

main .carousel-slide.slide-next {
  opacity: 1;
  left: 100%;
  z-index: 1;
}

main .carousel-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 2px;
  z-index: 3;
}

main .carousel-arrow {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  user-select: none;
  transition-property: background-color, color;
  transition-duration: .2s;
}

main .carousel-arrow:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

main .carousel-arrow .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .carousel-previous {
  order: -2;
}

/* --------------------
CAROUSEL OF CARDS
----------------------- */
main .carousel.carousel-cards {
  border: 1px solid;
}

main .carousel.carousel-cards .carousel-header {
  border-bottom: 1px solid;
  padding: 1rem 0;
}

main .carousel.carousel-cards .carousel-header h2,
main .carousel.carousel-cards .carousel-header p {
  margin-top: 0;
}

main .carousel.carousel-cards .carousel-slide {
  padding: 32px calc(60px - 6px);
}

main .carousel.carousel-cards .carousel-slide img {
  width: auto;
  max-width: 200px;
  height: 200px;
  max-height: 200px;
}

main .carousel.carousel-cards .carousel-slide .slide-card-img {
  margin: 0;
}

main .carousel.carousel-cards .carousel-slide .slide-card-icon {
  display: flex;
  align-items: center;
  position: relative;
  width: 36vw;
  height: 36vw;
  margin: auto;
  padding: 32px;
  background-color: var(--text-color);
  color: var(--text-color);
}

@media (min-width: 576px) {
  main .carousel.carousel-cards .carousel-slide .slide-card-icon {
    width: 200px;
    height: 200px;
  }
}

main .carousel.carousel-cards .carousel-slide .slide-card-icon svg {
  fill: var(--background-color);
}

@media (min-width: 768px) {
  main .carousel.carousel-cards .carousel-slides > div {
    width: calc(100% - 30px);
    margin: auto;
  }

  main .carousel.carousel-cards .carousel-slide {
    width: 50%;
    padding: 32px 38px; 
  }
  
  main .carousel.carousel-cards .carousel-slide.slide-prev {
    opacity: 0;
    left: -50%;
  }
  
  main .carousel.carousel-cards .carousel-slide.slide-next {
    left: 50%;
  }
}

@media (min-width: 992px) {
  main .carousel.carousel-cards .carousel-slides > div {
    width: calc(100% - 60px);
  }

  main .carousel.carousel-cards .carousel-slide {
    width: calc(100% / 3);
    padding: 32px 22px;
  }
  
  main .carousel.carousel-cards .carousel-slide.slide-prev {
    left: 0;
    opacity: 1;
  }

  main .carousel.carousel-cards .carousel-slide.slide-active {
    left: calc(100% / 3);
  }
  
  main .carousel.carousel-cards .carousel-slide.slide-next {
    left: calc(100% * 2/3);
  }
}

/* --------------------
METADATA
----------------------- */
main .carousel.circle img,
main .carousel.circle .slide-card-icon {
  border-radius: 50%;
  transition: border-radius .2s;
}

/* main .carousel.circle img:hover,
main .carousel.circle .slide-card-icon:hover {
  border-radius: 8px;
} */

main .carousel.pink,
main .carousel.pink .carousel-slide {
  background-color: var(--color-pink);
}
