.columns-wrapper {
  margin-bottom: var(--pad-xl);
}

.columns > div {
  display: flex;
  flex-direction: column;
  gap: 0 var(--pad-l);
}

.columns > div > div {
  order: 2;
  padding: var(--pad-l);
}

.columns > div:not(:last-of-type) {
  margin-bottom: var(--pad-l);
}

.columns h2 {
  margin-top: .125em;
  margin-bottom: .5em;
}

.columns p {
  margin-top: .25em;
  margin-bottom: .25em;
}

.columns .icon svg {
  font-size: var(--heading-font-size-xxl);
  width: 180px;
  height: 180px;
}

.columns .columns-img-col {
  order: 1;
  position: relative;
  height: 66.6vw;
  max-height: 320px;
  padding: 0;
}

.columns picture {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.columns img {
  width: 100%;
  max-width: unset;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 700px) {
  .columns > div {
    display: flex;
    flex-direction: unset;
    align-items: center;
  }

  .columns > div > div {
    flex: 1 1 40%;
    min-width: calc((100% / 3) - var(--pad-l));
  }

  .columns > div > div,
  .columns .columns-img-col {
    order: unset;
  }

  .columns .columns-img-col {
    flex: 0 0 60%;
    align-self: stretch;
    height: unset;
    max-height: unset;
  }
}

/* variants */
.columns.invert {
  padding: var(--pad-xxl) var(--pad-l);
  background-color: var(--text-color);
  color: var(--background-color);
}

.columns.invert .button {
  background-color: var(--background-color);
  color: var(--text-color);
}
