.order .order-hide {
  visibility: hidden;
  display: none;
}

.order .order-menu-btn {
  cursor: pointer;
  transition: transform 0.2s;
}

.order .order-menu-btn:hover,
.order .order-menu-btn:focus {
  transform: scale(1.1) rotate(3deg);
}

.order .order-menu-btn:nth-child(even):hover,
.order .order-menu-btn:nth-child(even):focus {
  transform: scale(1.1) rotate(-3deg);
}

.order .btn-order {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--btn-l);
  width: var(--btn-l);
  border-radius: 50%;
  font-weight: var(--weight-bold);
  line-height: 1;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
}

.order .btn-order:hover,
.order .btn-order:focus {
  transform: scale(1.1) rotate(-3deg);
}

@media (min-width: 768px) {
  .order .btn-order {
    position: absolute;
    top: -3rem;
    left: -3rem;
    z-index: 2;
  }
}

.order .btn-order svg {
  display: block;
  margin: 0 auto;
  margin-top: -0.6rem;
  margin-bottom: -2rem;
  height: var(--btn-xs);
  width: var(--btn-xs);
}

/* --------------------
MENU SELECTION
----------------------- */
html.order-selected-pickup, html.order-selected-pickup body {
  background: var(--color-yellow);
}

html.order-selected-pickup * {
  color: var(--color-green);
  fill: var(--color-green);
}

html.order-selected-pickup .btn-order {
  background: var(--color-green);
  color: var(--color-yellow);
}

html.order-selected-pickup .btn-order svg {
  fill: var(--color-yellow);
  stroke: var(--color-yellow);
}

html.order-selected-delivery, html.order-selected-delivery body {
  background: var(--color-pink);
}

html.order-selected-delivery * {
  color: var(--color-red);
  fill: var(--color-red);
}

html.order-selected-delivery .btn-order {
  background: var(--color-red);
  color: var(--color-pink);
}

html.order-selected-delivery .btn-order svg {
  fill: var(--color-pink);
  stroke: var(--color-pink);
}
