/* header layout */
header .header {
  height: var(--header-height);
}

header .header > div {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--pad-l);
  max-width: 900px;
  margin: 0 auto;
  padding: var(--pad-l);
}

header .header p {
  margin: 0;
}

/* brand */
header .header-brand {
  justify-self: start;
  font-size: 124px;
}

header .header-brand p,
header .header-brand a {
  display: block;
}

header .header-brand svg {
  transition: transform .2s;
}

header .header-brand a:hover svg {
  transform: rotate(13deg);
}

header .header-brand span {
  display: flex;
}

/* cart */
header .header-cart {
  justify-self: end;
  font-size: 74px;
}

header .header-cart button {
  position: relative;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  padding: var(--pad-m);
  background-color: var(--background-color);
  transition: transform .2s;
}

header .header-cart button[data-btn-status=initialized] {
  cursor: pointer;
}

header .header-cart button[data-btn-status=initialized]:hover {
  box-shadow: 3px 3px 8px var(--shadow-light);
  transform: rotate(3deg) scale(1.3);
}

header .header-cart .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header-cart .header-cart-total {
  position: absolute;
  top: .666em;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-s);
}
