header .header > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: 80px auto; 
  gap: 1rem 0; 
  grid-template-areas: 
    'brand cart'
    'title title';
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: var(--header-height);
  margin: 0 auto;
  padding: 2rem;
}

header .header p {
  margin: 0;
}

header .header a:any-link {
  color: currentcolor;
}

header .header svg {
  width: 80px;
  height: 80px;
}

/* brand */
header .header-brand {
  grid-area: brand;
  line-height: 1;
}

header .header-brand a {
  display: block;
  width: 80px;
  height: 80px;
  transition: transform .2s;
}

header .header-brand a:hover {
  border: 0;
  transform: rotate(13deg);
}

/* cart */
header .header-cart {
  grid-area: cart;
  justify-self: end;
  position: fixed;
  top: 2rem;
  right: 2rem;
  line-height: 1;
  z-index: 1;
}

@media (min-width: 1200px) {
  header .header-cart {
    right: calc((100% - 1200px + 4rem) / 2);
  }
}

header .header-cart #cart {
  display: block;
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: var(--background-color);
  cursor: pointer;
  transition-property: box-shadow, transform;
  transition-duration: .2s;
}

header .header-cart #cart:hover {
  box-shadow: 1px 1px 2px var(--color-lt-gray);
  transform: rotate(13deg) scale(1.3);
}

header .header-cart #cart svg {
  width: 50px;
  height: 50px;
  margin: 15px;
}

header .header-cart #cart .cart-total {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--heading-font-family);
  font-size: 32px;
  text-align: center;
}

/* title */
header .header-title {
  grid-area: title;
  line-height: 1;
  text-align: center;
  transform: scale(1, 1.3); /* linked to scale */
}

header .header-title p {
  display: inline;
  position: relative;
  font-family: var(--brand-font-family);
  font-size: 72px; /* linked to scale */
}

header .header-title p .icon {
  position: absolute;
  top: calc(36px / 2.5); /* linked to scale */
  right: calc(-36px / 1.25); /* linked to scale */
  line-height: 0;
}

header .header-title p .icon svg {
  width: 36px; /* linked to scale */
  height: 36px; /* linked to scale */
}

@media (min-width: 576px) {
  header .header-title p {
    font-size: 90px; /* linked to scale */
  }
  
  header .header-title p .icon {
    top: calc(45px / 2.5); /* linked to scale */
    right: calc(-45px / 1.25); /* linked to scale */
  }
  
  header .header-title p .icon svg {
    width: 45px; /* linked to scale */
    height: 45px; /* linked to scale */
  }
}

@media (min-width: 768px) {
  header .header-title p {
    font-size: 108px; /* linked to scale */
  }
  
  header .header-title p .icon {
    top: calc(54px / 2.5); /* linked to scale */
    right: calc(-54px / 1.25); /* linked to scale */
  }
  
  header .header-title p .icon svg {
    width: 54px; /* linked to scale */
    height: 54px; /* linked to scale */
  }
}
