.customize-container {
  width: 100%;
  background: var(--color-white);
  text-align: center;
  overflow-y: scroll;
}

.customize-container[aria-expanded=true] {
  visibility: unset;
  display: unset;
  position: fixed;
  top: 0;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
  z-index: 8;
}

.customize-container[aria-expanded=true] .customize {
  height: 100vh;
  padding: var(--pad-xl) var(--pad-s);
}

/* --------------------
CLOSE BUTTON
----------------------- */
.customize .btn.btn-close {
  background: var(--color-white);
}

.customize .btn.btn-close:hover,
.customize .btn.btn-close:focus {
  background: var(--color-blue);
  color: var(--color-white);
}

/* --------------------
HEAD
----------------------- */
.customize .customize-head {
  margin-top: var(--pad-xl);
  padding: var(--pad-s);
  border: 1px solid;
}

/* --------------------
BODY
----------------------- */
.customize .customize-body {
  border-left: 1px solid;
  border-right: 1px solid;
}

/* --------------------
FOOT
----------------------- */
.customize .customize-foot {
  margin-top: var(--pad-xl);
  padding: var(--pad-s);
  padding-bottom: var(--pad-xxl);
}

.customize .customize-foot .btn.btn-rect {
  background: var(--color-blue);
  color: var(--color-white);
}
