footer .footer > div {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: var(--footer-height);
  margin: 0 auto;
  padding: 2rem;
  font-size: var(--body-font-size-xxs);
  text-align: center;
}

footer .footer p {
  margin: 0;
}
