footer .footer {
  height: var(--footer-height);
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer > div {
  box-sizing: border-box;
  gap: var(--pad-l);
  max-width: 900px;
  margin: 0 auto;
  padding: var(--pad-l);
  font-size: var(--body-font-size-xs);
  line-height: 1.6em;
  text-align: center;
}

footer .footer p {
  width: unset;
}
