.menu [class=section] {
  padding-top: 0;
  padding-bottom: 0;
}

.menu [class=section] > div {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: var(--pad-l);
}

@media (min-width: 700px) {
  .menu [class=section] > div {
    padding: var(--pad-xl);
  }
}

.menu [class=section] > div .button {
  background-color: var(--background-color);
  color: var(--link-color);
}

.menu [class=section] > div .button:hover,
.menu [class=section] > div .button:focus {
  background-color: var(--highlight-background-color);
}


.menu [class=section] strong,
.menu .carousel strong {
  font-size: 120%;
}

.menu [class=section] img,
.menu .carousel img {
  transition: transform .2s;
}

.menu [class=section] img:hover,
.menu .carousel img:hover {
  transform: rotate(3deg) scale(1.2);
}
