.menu [class=section] > div {
  background-color: var(--text-color);
  color: var(--background-color);
  padding: var(--pad-l);
}

@media (min-width: 700px) {
  .menu [class=section] > div {
    padding: var(--pad-xl);
  }
}

.menu [class=section] > div a:not(.button) {
  color: var(--background-color);
}

.menu [class=section] > div a:any-link:hover {
  color: var(--text-color);
}

.menu [class=section] > div .button {
  background-color: var(--background-color);
  color: var(--link-color);
}

.menu [class=section] > div .button:hover,
.menu [class=section] > div .button:focus {
  background-color: var(--highlight-background-color);
}

.menu [class=section] > div .button.disabled {
  background-color: var(--color-gray);
  color: var(--color-white);
  border-color: var(--color-white);
  cursor: not-allowed;
}

.menu [class=section] strong,
.menu .carousel strong {
  font-size: 120%;
}

.menu [class=section] img,
.menu .carousel img {
  max-height: 180px;
  transition: border-radius .2s, transform .2s;
}

.menu [class=section] img:hover,
.menu .carousel img:hover,
.menu .carousel svg:hover {
  transform: rotate(3deg) scale(1.2);
}

.menu .carousel.circle img:hover {
  border-radius: 8px;
  transform: rotate(3deg) scale(1.2);
}
