/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in com5pliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --color-black: #010319;
  --color-gray: #808086;
  --color-white: #FFFCF3;
  --color-pink: #FFD4CC; /* FFF0EB */
  --color-pink-dark: #C0A09F;
  --color-red: #F94F0C; /* 962D03 */
  --color-red-dark: #BB3C0F;
  --color-yellow: #FFFC93; /* FFF8D6 */
  --color-yellow-alt: #F7FF24;
  --color-green: #07C1C6; /* 065D60 */
  --color-green-dark: #06929B;
  --color-blue: #0C26F9;
  --color-blue-dark: #091DC1;
  --background-color: var(--color-white);
  --text-color: var(--color-blue);
  --link-color: var(--text-color);
  --link-hover-color: var(--color-blue-dark);
  --highlight-background-color: var(--color-yellow-alt);
  --highlight-text-color: var(--color-blue);
  --overlay-background-color: var(--color-pink);
  --overlay-text-color: var(--color-blue);
  --shadow-light: #E8E5DF66;
  
  /* fonts */
  --body-font-family: 'Poppins', 'Poppins-fallback', sans-serif;
  --heading-font-family: 'acumin-pro-extra-condensed', 'acumin-pro-extra-condensed-fallback', sans-serif;
  --brand-font-family: 'Arial';
  --fixed-font-family: monospace;

  /* body sizes */
  --body-font-size-xxl: 42px;
  --body-font-size-xl: 36px;
  --body-font-size-l: 24px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;
  --body-font-size-xxs: 10px;

  /* heading sizes */
  --heading-font-size-xxxl: 84px;
  --heading-font-size-xxl: 54px;
  --heading-font-size-xl: 48px;
  --heading-font-size-l: 42px;
  --heading-font-size-m: 36px;
  --heading-font-size-s: 28px;
  --heading-font-size-xs: 20px;

  /* spacing sizes */
  --pad-xxxl: 64px;
  --pad-xxl: 48px;
  --pad-xl: 32px;
  --pad-l: 16px;
  --pad-m: 8px;
  --pad-s: 4px;
  --pad-xs: 2px;

  /* header and footer height */
  --header-height: 106px;
  --footer-height: 100px;
}

@media (min-width: 700px) {
  :root {
    --body-font-size-xxl: 48px;
    --body-font-size-xl: 42px;
    --body-font-size-l: 36px;
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;
    --heading-font-size-xxxl: 94px;
    --heading-font-size-xxl: 64px;
    --heading-font-size-xl: 58px;
    --heading-font-size-l: 46px;
    --heading-font-size-m: 36px;
    --heading-font-size-s: 28px;
    --heading-font-size-xs: 20px;
    --footer-height: 55px;
  }
}

@font-face {
  font-family: Poppins-fallback;
  size-adjust: 112.5%;
  src: local('Arial');
}

@font-face {
  font-family: acumin-pro-extra-condensed;
  font-stretch: extra-condensed;
  font-weight: normal;
  size-adjust: 60.65%;
  src: local('Arial');
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	font-family: inherit;
  font-size: 100%;
}

html {
  font-size: 62.5%; /* setting 1rem to 10px */
  scroll-behavior: smooth;
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6em;
}

body.appear {
  display: unset;
}

header {
  height: var(--header-height);
}

footer {
  height: var(--footer-height);
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

h1, h2, h3,
h4, h5, h6 {
  margin: .8em 0;
  scroll-margin: calc(var(--header-height) + 1em);
  line-height: .8em;
  font-family: var(--heading-font-family);
  font-weight: 700;
  text-transform: lowercase;
}

h1 { 
  font-size: var(--heading-font-size-xxl);
  text-align: center;
}

h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p, dl, ol, ul, pre, blockquote {
  margin: 1em 0;
}

p, h1, h2, h3, h4, h5, h6, ol, ul {
  width: clamp(45ch, 50%, 75ch);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

u {
  text-decoration: currentcolor wavy underline;
}

del {
  display: none;
  visibility: hidden;
}

a:any-link {
  color: var(--link-color);
  text-decoration: underline;
  transition: color .2s;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
}

.footer a:hover,
.default-content-wrapper a:hover {
  position: relative;
  z-index: 1;
}

.footer a:hover::after,
.default-content-wrapper a:hover::after {
  content: '';
  position: absolute;
  top: 60%;
  left: 50%;
  transform: rotate(3deg) translate(-50%, -50%);
  width: 105%;
  height: 66%;
  background-color: var(--color-yellow-alt);
  z-index: -1;
  overflow: hidden;
}

.footer a:nth-child(even)::after,
.default-content-wrapper a:nth-child(even)::after {
  transform: rotate(-3deg) translate(-50%, -50%);
}

.button a:hover::after,
.button-container a:hover::after {
  display: none;
  visibility: hidden;
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .25em;
}

pre {
  overflow: scroll;
}

svg {
  fill: currentcolor;
}

span.icon-reg,
span.icon-v,
span.icon-gf {
  display: inline-block;
  transform: scale(1.4);
}

span.icon-reg svg {
  stroke: currentcolor;
  font-family: inherit;
  text-transform: uppercase;
}

span.icon-gf svg,
span.icon-v svg {
  stroke: currentcolor;
  padding-left: .1em;
}

span.icon-gf + span.icon-v,
span.icon-v + span.icon-gf {
  padding-left: .1em;
}

span.icon svg {
  width: .6em;
  height: .6em;
}

ol, ul {
  max-width: 100%;
  padding-left: 1.5em;
  text-align: left;
}

ol li, ul li {
  margin-bottom: .5em;
  padding-left: .5em;
}

/* forms */
input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 1em;
  border: 1px solid var(--text-color);
  padding: var(--pad-l) var(--pad-m);    
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: inherit;
  font-size: inherit;
  transition: background-color .2s;
}

input:focus {
  outline: 1px solid;
  background-color: var(--color-yellow);
}

button {
  border: 0;
  padding: var(--pad-s) var(--pad-l);
  background-color: inherit;
  color: inherit;
  font-family: var(--heading-font-family);
  font-size: inherit;
  font-weight: 400;
  cursor: pointer;
}

.form-field {
  position: relative;
}

.form-field input {
  margin-bottom: 0;
}

.form-field input::placeholder {
  color: transparent;
}

.form-field input:not(:placeholder-shown),
.form-field input:focus {
  padding-top: 24px;
  padding-bottom: 8px;
}

.form-field label {
  position: absolute;
  top: 50%;
  left: calc(var(--pad-m) + 1px); /* border adds 1px */
  transform: translateY(-50%);
  max-width: calc(100% - var(--pad-l));
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color-gray);
  transition: top .2s, transform .2s, font-size .2s;
}

.form-field input:not(:placeholder-shown) + label,
.form-field input:focus + label {
  top: 0;
  transform: translateY(0);
  font-size: var(--body-font-size-xxs);
  color: inherit;
}

/* buttons */
a.button:any-link, button.button, .button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: .5em 0;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: var(--pad-s) var(--pad-l);
  background-color: var(--link-color);
  color: var(--background-color);
  font-family: var(--heading-font-family);
  font-size: inherit;
  font-style: normal; 
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 1.6em;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color .2s, border-radius .2s;
}

a.button:hover, button.button:hover, .button:hover,
a.button:focus, button.button:focus, .button:focus  {
  border-radius: 2px;
  background-color: var(--link-hover-color);
}

button.button:disabled, button.button:disabled:hover, .button:disabled:hover {
  border-radius: 8px;
  background-color: var(--color-gray);
  cursor: not-allowed;
}

a.button.secondary, button.button.secondary, .button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
} 

main pre {
  border-radius: .25em;
  padding: 1em;
  background-color: var(--overlay-background-color);
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: var(--pad-m) 0;
  border: 0;
  border-bottom: 1px solid var(--text-color);
}

main img {
  width: auto;
  max-width: clamp(180px, 33vw, 320px);
  height: auto;
}

main .section {
  padding: var(--pad-l);
  text-align: center;
}

main .section > div:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 700px) {
  main .section {
    padding: var(--pad-xl);
  }  
}

@media (min-width: 900px) {
  .section > div {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

main .section.big-text p {
  font-family: var(--heading-font-family);
  font-size: var(--body-font-size-l);
  line-height: 1.1em;
}

/* themes */
.legal main .section {
  text-align: left;
}

.legal main .section h2 {
  text-align: center;
}

/* icons */
.icon, .icon::after, .icon::before {
  box-sizing: border-box;
  display: block;
  position: relative;
}

.icon::after, .icon::before {
  display: block;
  position: absolute;
}

.icon.icon-arrow {
  width: 1em;
  height: 1em;
}

.icon.icon-arrow::before {
  content: '';
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: .05em;
  background-color: currentcolor;
}

.icon.icon-arrow::after {
  content: '';
  top: calc(50% - .05em);
  width: .333em;
  height: .333em;
  transform: rotate(45deg) translateY(-50%) ;
}

.icon.icon-arrow-left::after {
  left: calc(-1 * .1em);
  border-bottom: .05em solid;
  border-left: .05em solid;
}

.icon.icon-arrow-right::after,
.icon.icon-arrow-down::after {
  right: calc(1 * .15em);
  border-top: .05em solid;
  border-right: .05em solid;
}

.icon.icon-arrow-down {
  transform: rotate(90deg);
}
